.button {
	padding: 1em 1.4em;
	margin: 1em auto .5em;
	text-transform: uppercase;
	display: inline-block;
	opacity: .88;
	color: #ffffff;
	&:hover {
		opacity: 1;
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.block {
	display: block;
}

.circle-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 43px;
	margin: 7px 7px 7px 0;
	height: 43px;
	width: 43px;
	text-align: center;
	border-radius: 50%;
	background: $blue;
	color: #fff;
	font-size: 25px;
}

#main {
	img {
		display: block;
		margin: auto;
	}
	> section {
		padding: 25px 0;
		> div {
			padding: 11px;
			max-width: 1024px;
			width: 88vw;
			min-width: 300px;
			margin: auto;
		}
	}
}

.relative {
	position: relative;
}

.relative > li {
	position: relative;
}

.tac {
	text-align: center;
}

.blue {
	color: $blue;
}

.green {
	color: $green;
}

.blue-bg {
	background-color: $blue;
}

.green-bg {
	background-color: $green;
}
.blue-bg, .green-bg {
	color: #fff;
	a {
		color: inherit;
		opacity: .88;
		&:hover {
			opacity: 1;
		}
	}
}

.two-col {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	&.reverse {
		flex-direction: column-reverse;
	}
}

.mb {
	margin-bottom: 25px;
}

.mb2 {
	margin-bottom: 50px;
}

.site-footer {
	margin-top: 0;
	.widget-area {
		padding: 1em 0 0;
		.widget:last-child {
			padding-bottom: 0;
		}
	}
}

#main #testimonials {
	background: #eee;
	padding: 43px 0;
}

.testimonial {
	flex: 1 1 43%;
	align-self: stretch;
	padding: 1em;
	min-width: 300px;

	cite {
		text-align: center;
		margin: 0 0 1em;
	}
	p {
		margin: 0;
	}
	.img {
		display: block;
		border-radius: 100px;
		width: 160px;
		height: 160px;
		margin: auto;
		border: 5px solid #fff;
	}
}